.gallery {
  @include position(95%, 0 auto);
  .typeChartsContainer {
    display: flex;
    justify-content: space-between;
    .imageContainer {
      @include selectionContainer(15%, $indentMax, 100%, 1.5rem, 1.6rem);
      img {
        padding: 0 0 $indentMin 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      justify-content: left;
      .imageContainer {
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 2vw;
        &:nth-child(4) {
          margin-right: 0;
        }
        &:nth-child(6) {
          margin-right: 0;
        }
        &:nth-child(5) {
          margin-bottom: 0;
        }
        &:nth-child(6) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      justify-content: space-between;
      .imageContainer {
        width: 30%;
        margin-right: 0;
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      .imageContainer {
        width: 45%;
        &:nth-child(4) {
          margin-bottom: 2vw;
        }
      }
    }
  }
}
