.exampleChart {
  &:not(:last-child) {
    .link {
      margin-bottom: $indentMin;
    }
  }

  .wrapper {
    @extend %chartContainer;
  }

  .link {
    @extend %button;
    width: 100%;

    span {
      color: $title-text;
    }
  }

  @include respond($tabletMin) {
    width: 100%;
  }
  @include respond($mobile) {
    &:not(:last-child) {
      .link {
        margin-bottom: $indentInputAndButton;
      }
    }
  }
}
