@use "src/global-styles" as global;

.chartResult {
  width: 55%;
  .miniTitle {
    @extend %mini-title;
  }
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 global.$main-text;
    margin-bottom: 1rem;
    .link {
      box-shadow: 0 0 10px 0;
      padding: 0.5rem;
      border-radius: 10px;
      border: none;
      font-weight: 700;
      font-size: 0.8rem;
    }
    img {
      height: 100%;
      border-radius: 10px;
    }
  }
}