.main {
  @include position(90%, 0 auto);
  align-self: flex-start;

  .additionalInfo {
    @include flex(null, null, center);
    margin: 0 0 $indentMin 0;
    @include respond($tabletMin) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
