@use "../../../global-styles" as global;

.logo {
  display: flex;
  padding: 0 1rem;
  .logoText {
    display: flex;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: .6rem;
    .letterRed {
      color: global.$red;
    }
    .letterOrange {
      color: global.$yellow;
    }
    .letterBlue {
      color: global.$blue;
    }
  }
  .imageContainer {
    height: 3rem;
    img {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    padding-bottom: .9rem;
  }
}
