.logo {
  @include flex(null, null, center);

  .logoText {
    @include flex(null, null, null);
    font-size: $inter-32;
    margin: 0 $indent-min 0 0;

    .letter {
      position: relative;
    }

    .letterRed {
      color: $red;
    }

    .letterOrange {
      color: $yellow;
    }

    .letterBlue {
      color: $blue;
    }

    .letterGreen {
      color: $green;
    }

    .e::before {
      @include letter('E', $green);
    }

    .a1::before {
      @include letter('a', $red);
    }

    .s1::before {
      @include letter('s', $yellow);
    }

    .y::before {
      @include letter('y', $blue);
    }

    .c::before {
      @include letter('C', $green);
    }

    .h::before {
      @include letter('h', $red);
    }

    .a2::before {
      @include letter('a', $yellow);
    }

    .r::before {
      @include letter('r', $blue);
    }

    .t::before {
      @include letter('t', $green);
    }

    .s2::before {
      @include letter('s', $red);
    }
  }

  .logoImage {
    width: 50px;
    transition: all 0.25s linear;
  }

  @include respond($tablet-max) {
    .logoText {
      font-size: $inter-30;
    }
    .logoImage {
      width: 45px;
    }
  }

  @include respond($tablet-min) {
    .logoImage {
      width: 40px;
    }
  }

  @include respond($mobile) {
    .logoImage {
      width: 30px;
    }
  }
}

.headerLogo {
  margin: 0 $indent-max 0 0;
  cursor: default;
  @include respond($tablet-max) {
    margin: 0 $indent-min 0 0;
  }
  @include respond($tablet-min) {
    margin: 0 0 $indent-min 0;
  }
}

.activeHeaderLogo {
  &:hover {
    cursor: pointer;

    .logoText {
      .letter::before {
        width: 100%;
      }
    }

    .logoImage {
      rotate: 90deg;
    }
  }
}
