.logo {
  display: flex;
  padding: 0 1rem;
  .logoText {
    display: flex;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 0.6rem;
    .letterRed {
      color: $red;
    }
    .letterOrange {
      color: $yellow;
    }
    .letterBlue {
      color: $blue;
    }
    .letterGreen {
      color: $green;
    }
  }
  .imageContainer {
    height: 3rem;
    img {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    padding-bottom: 0.9rem;
  }
}
