.upButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: $indentInputAndButton;
  z-index: 1;
  background: $green;
  transition: all 0.25s linear;
  opacity: 0.5;

  &:hover {
    background: $blue;
    cursor: pointer;
  }

  &[hidden] {
    display: none !important;
  }

  .line {
    width: 18px;
    height: 3px;
    background: $button-text;
    position: absolute;
    top: 20px;
  }

  .line1 {
    right: 10px;
    transform: rotate(45deg);
  }

  .line2 {
    left: 10px;
    transform: rotate(-45deg);
  }
}
