.deleteRowContainer {
  @include flex(null, center);
  .closeX {
    width: 10px;
    height: 10px;
    background-image: url('../../../../../../assets/images/cross.svg');
    cursor: pointer;
    position: absolute;
    left: -15px;
    transition: all 0.25s linear;
    &:hover {
      width: 15px;
      height: 15px;
    }
  }
  .inputData {
    @include input(#ccc, 0.1rem);
  }
}
