@use "src/global-styles" as global;

.info {
  padding: 1.5rem 0;
  width: 90%;
  margin: 0 auto;
  .imageContainer {
    height: 8vw;
    img {
      height: 100%;
    }
  }
  .title {
    @extend %title-pages;
  }
  .textContent {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .itemOne {
    border: 1px solid black;
    border-radius: 10px;
    .miniTitle {
      @extend %mini-title;
      color: black;
      span {
        color: global.$blue
      }
    }
  }
}



