.viewAndSave {
  align-self: flex-start;

  .interactionButtonsContainer {
    @include flex(null, center, center);

    .interactionButton {
      @extend %button;
      width: auto;

      &:not(:last-child) {
        margin-right: $indentMin;
      }
    }

    .copyButton {
      background: $yellow;
      pointer-events: none;
    }

    @include respond($tabletMin) {
      flex-direction: column;
    }
    @include respond($mobile) {
      .interactionButton {
        width: 90%;
      }
    }
  }

  .imgContainer {
    margin: $indentMin 0 0 0;
    @include respond($mobile) {
      margin: $indentInputAndButton 0 0 0;
    }
  }

  @include respond($tabletMin) {
    align-self: center;
  }
}
