$white: rgb(255, 255, 255);
$black: rgb(32, 32, 32);
$gray: rgb(128, 128, 128);
$light-gray: rgb(204, 204, 204);
$transparent-light-gray-3: rgba(204, 204, 204, 0.3);
$transparent-light-gray-6: rgba(204, 204, 204, 0.6);

$content-text: $gray;
$title-text-light: $black;
$title-text-dark: $white;
$button-text: $white;
$input-background: $light-gray;
$validated-input-background-light: $transparent-light-gray-3;
$validated-input-background-dark: $transparent-light-gray-6;

$red: rgb(226, 86, 89);
$yellow: rgb(242, 143, 39);
$blue: rgb(77, 122, 169);
$green: rgb(119, 184, 180);

$inter-8: 0.5rem;
$inter-10: 0.625rem;
$inter-12: 0.75rem;
$inter-14: 0.875rem;
$inter-18: 1.125rem;
$inter-20: 1.25rem;
$inter-24: 1.5rem;
$inter-26: 1.625rem;
$inter-30: 1.875rem;
$inter-32: 2rem;

$indent-max: 20px;
$indent-min: 10px;
$indent-input-button: 5px;
$radius-max: 10px;
$radius-min: 5px;

$laptop-size: 90em;
$tablet-max-size: 64em;
$tablet-min-size: 48em;
$mobile-size: 22.5em;

$laptop: laptop;
$tablet-max: maximum tablet;
$tablet-min: minimum tablet;
$mobile: mobile;

$breakpoints: (
  $laptop: (
    max-width: $laptop-size,
  ),
  $tablet-max: (
    max-width: $tablet-max-size,
  ),
  $tablet-min: (
    max-width: $tablet-min-size,
  ),
  $mobile: (
    max-width: $mobile-size,
  ),
);
