@use "src/global-styles" as global;

.chartViewAndSave {
  max-width: 422px;
  text-align: left;
  box-shadow: 0 0 10px 0;
  border-radius: 10px;
  padding: 0.8rem;
  .miniTitle {
    font-size: 1rem;
    border-bottom: 1px solid;
    margin-bottom: .5rem;
    padding: 0 .5rem .5rem;
  }
  .params {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
    label {
      display: block;
      color: global.$black;
      font-size: .9rem;
    }
    input {
      display: block;
      color: global.$black;
      width: 50%;
      margin: .1rem;
      border: none;
      padding: .3rem;
      border-radius: 2px;
      font-size: .9rem;
      background-color: #f5f5f5;
    }
  }
  .link {
    @extend  %button;
    text-align: center;
    margin-bottom: 0;
  }
}