.contacts {
  width: 95%;
  margin: 2rem 0;
  .imageContainer {
    height: 15vw;
    img {
      height: 100%;
    }
  }
  .title {
    @extend %title-pages;
    text-align: center;
  }
  .textContent {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .mail {
    color: $green;
    transition: all .25s linear;
    text-decoration: underline;
    font-size: 1.5rem ;
    line-height: 1.6rem;
    &:hover {
      cursor: pointer;
      color: $blue;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 1024px) {
  .contacts {
    .imageContainer {
      height: 25vw;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 0 .6rem;
    .imageContainer {
      height: 35vw;
    }
  }
}

@media (max-width: 480px) {
  .contacts {
    .imageContainer {
      height: 45vw;
    }
  }
}

@media (max-width: 360px) {
  html, body {
    font-size: 12px;
  }
}
