.contacts {
  @include position(95%, 2rem 0);
  text-align: center;

  .email {
    @include position(20%, 0 auto);
  }

  .title {
    @extend %title-pages;
  }

  .textContent {
    font-size: 1.1rem;
    margin: 0 0 $indentMin 0;
  }

  .link {
    @include position(max-content, 0 auto);
    color: $green;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: all 0.25s linear;

    &:not(:last-child) {
      margin: 0 auto $indentMin;
    }

    &:hover {
      cursor: pointer;
      color: $blue;
      font-size: 1.6rem;
    }
  }

  @include respond($laptop) {
    .email {
      width: 25%;
    }
  }
  @include respond($tabletMax) {
    .email {
      width: 30%;
    }
    .link {
      font-size: 1.7rem;

      &:hover {
        font-size: 1.9rem;
      }
    }
  }
  @include respond($tabletMin) {
    .email {
      width: 50%;
    }
    .link {
      font-size: 1.9rem;

      &:not(:last-child) {
        margin: 0 auto $indentInputAndButton;
      }

      &:hover {
        font-size: 2.1rem;
      }
    }
  }
  @include respond($mobile) {
    .email {
      width: 90%;
    }
  }
}
