.examples {
  @include position(95%, 0 auto);

  .examplesMain {
    @include flex(null, center, null);
    flex-wrap: wrap;

    .chartSelectionMenu {
      @include flex(column, flex-start, null);
      @include respond($tablet-max) {
        @include flex(row, center, center);
        flex-wrap: wrap;
      }
    }
  }
}

.mainPageExamples {
  width: 100%;
  margin: 0 0 $indent-max 0;
  @include respond($tablet-min) {
    margin: 0 0 $indent-min 0;
  }
  @include respond($mobile) {
    margin: 0 0 $indent-input-button 0;
  }
}

.infoPageExamples {
  width: 100%;
}
