.asideInfo {
  width: 25%;
  padding: $indent-max;
  background: url('../../../../../assets/images/content/bubbles.gif') no-repeat center / cover;
  border-radius: $radius-max;
  @include respond($tablet-max) {
    padding: $indent-min;
  }
  @include respond($tablet-min) {
    @include flex(null, space-around, null);
    width: 100%;
    order: -1;
  }
  @include respond($mobile) {
    padding: $indent-input-button;
    justify-content: space-between;
  }
}
