@use "src/global-styles" as global;

.animation {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .column {
    width: 2%;
    height: 100%;
  }
  .column {
    .block1.entered {
      opacity: 1;
      animation: charts-animation .5s infinite;
    }
    .block1.entering {
      opacity: 1;
    }
    .block1.exiting {
      opacity: 1;
    }
    .block1.exited {
      opacity: 1;
    }
    .block2 {
      height: 40%;
      background-color: global.$orange
    }
    .block3 {
      height: 40%;
      background-color: global.$blue
    }
    .block4 {
      height: 10%;
      background-color: global.$green
    }
  }
}

@keyframes charts-animation  {
  0% {
    height: 10%;
    background-color: global.$red
  }
  20% {
    height: 50%;
    background-color: global.$red
  }
  40% {
    height: 50%;
    background-color: global.$red
  }
  60% {
    height: 30%;

    background-color: global.$blue
  }
  80% {
    height: 20%;

    background-color: global.$green
  }
  100% {
    height: 70%;

    background-color: global.$orange
  }
}