.formFieldContainer {
  position: relative;

  .validationError {
    outline: 1px solid $red !important;
  }

  .field {
    position: relative;
    z-index: 2;
  }

  .fieldError {
    font-size: $inter-14;
    color: $red;
    height: 100%;
    position: absolute;
    top: 4.375px;
    right: 5px;
    z-index: 1;
  }
}
