.navigation {
  display: flex;
  .link {
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.25s linear;
    line-height: 1.3rem;
    &:not(:last-child) {
      margin-right: 0.6rem;
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $green;
      font-size: 1.3rem;
    }
  }
  .activeLink {
    color: $green;
    font-size: 1.3rem;
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
}
