.viewContainer {
  @include flex(null, center, center);

  .modeContainer {
    @include flex(null, center, center);
    background: none;
    cursor: pointer;

    .mode {
      height: 100%;
    }
  }

  .themeModeContainer {
    width: 24px;
    height: 24px;
    margin: 0 $indent-min 0 0;
  }

  .languageModeContainer {
    width: 32px;
    height: 24px;
  }

  .languageModeContainer-light {
    border: 1px solid $black;
  }

  .languageModeContainer-dark {
    border: 1px solid $white;
  }

  @include respond($tablet-min) {
    .themeModeContainer {
      width: 42px;
      height: 42px;
    }
    .languageModeContainer {
      width: 56px;
      height: 42px;
    }
  }
  @include respond($mobile) {
    flex-direction: column;
    .themeModeContainer {
      width: 30px;
      height: 30px;
      margin: 0 0 $indent-min 0;
    }
    .languageModeContainer {
      width: 40px;
      height: 30px;
    }
  }
}
