@use "src/global-styles" as global;

.logo {
  display: flex;
  .logoText {
    display: flex;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: .6rem;
    .letterRed {
      color: global.$red;
      transition: all .5s linear;
    }
    .letterOrange {
      color: global.$yellow;
      transition: all .5s linear;
    }
    .letterBlue {
      color: global.$blue;
      transition: all .5s linear;
    }
  }
  .imageContainer {
    height: 3rem;
    margin-right: 1.2rem;
    img {
      height: 100%;
    }
  }
}
