.formContainer {
  margin: 0 $indentMin 0 0;

  .axisName {
    text-align: center;
  }

  .inputData {
    @include input($input-background, $indentMin);
  }

  .addButton {
    @extend %button;
    margin-bottom: 0;
  }
}
