.errorPageBlock {
  width: 100%;
  @include flex(column, null, center);

  .errorTitle {
    font-size: $inter-24;
    color: $red;
  }

  .errorText {
    font-size: $inter-18;
    color: $red;
  }

  .errorImage {
    @include position(50%, $indent-min 0);
  }
}

.globalError {
  height: 100vh;
  justify-content: center;

  .errorImage {
    width: 30%;
  }
}
