.infoBlock {
  padding: $indent-max;
  margin: 0 0 $indent-max 0;
  border: 1px solid $input-background;
  border-radius: $radius-max;

  .textBlock {
    margin: 0 0 $indent-max 0;

    .title {
      @extend %mini-title;
    }

    .title-light {
      color: $title-text-light;
    }

    .title-dark {
      color: $title-text-dark;
    }

    .description {
      font-size: $inter-18;
      text-align: center;
      white-space: pre-line;
    }
  }

  .thirdTextBlock {
    margin: 0;
  }

  @include respond($tablet-max) {
    padding: $indent-min;
    margin: 0 0 $indent-min 0;
    .textBlock {
      margin: 0 0 $indent-min 0;
    }
  }
  @include respond($tablet-min) {
    padding: $indent-input-button;
  }
  @include respond($mobile) {
    padding: 0;
    margin: 0 0 $indent-input-button 0;
    border: none;
    .textBlock {
      margin: 0 0 $indent-input-button 0;
    }
  }
}
