.infoBlock {
  padding: $indentMax;
  margin: 0 0 $indentMax 0;
  border: 1px solid $input-background;
  border-radius: $radiusMax;

  .textBlock {
    margin: 0 0 $indentMax 0;

    .title {
      @extend %mini-title;
    }

    .description {
      font-size: $medium-fz;
      text-align: center;
      white-space: pre-line;
    }
  }

  .thirdTextBlock {
    margin: 0;
  }

  @include respond($tabletMax) {
    padding: $indentMin;
    margin: 0 0 $indentMin 0;
    .textBlock {
      margin: 0 0 $indentMin 0;
    }
  }
  @include respond($tabletMin) {
    padding: $indentInputAndButton;
  }
  @include respond($mobile) {
    padding: 0;
    margin: 0 0 $indentInputAndButton 0;
    border: none;
    .textBlock {
      margin: 0 0 $indentInputAndButton 0;
    }
  }
}
