.pageDescription {
  margin: 0 0 $indentMax;

  .title {
    @extend %title-pages;
  }

  .textContent {
    font-size: $medium-fz;
  }

  @include respond($mobile) {
    margin: 0 0 $indentMin;
    .textContent {
      text-align: center;
    }
  }
}

.blockWithoutDescriptionText {
  margin: 0 0 $indentMin;

  .titleWithoutDescriptionText {
    text-align: center;
    margin: 0;
  }
}
