.pageDescription {
  margin: 0 0 $indent-max;

  .title {
    @extend %title-pages;
  }

  .title-light {
    color: $title-text-light;
  }

  .title-dark {
    color: $title-text-dark;
  }

  .textContent {
    font-size: $inter-18;
  }

  @include respond($mobile) {
    margin: 0 0 $indent-min;
    .textContent {
      text-align: center;
    }
  }
}

.blockWithoutDescriptionText {
  margin: 0 0 $indent-min;

  .titleWithoutDescriptionText {
    text-align: center;
    margin: 0;
  }
}
