.pageDescription {
  margin: 0 0 $indentMax;

  .title {
    @extend %title-pages;
  }

  .mainPageTitle {
    text-align: center;
    margin: 0;
  }

  .textContent {
    font-size: 1.1rem;
  }

  @include respond($mobile) {
    margin: 0 0 $indentMin;
    .textContent {
      text-align: center;
    }
  }
}

.mainPagePageDescription {
  margin: 0 0 $indentMin;
}
