.chartSelectionForm {
  @include flex(column, null, null);
  .miniTitle {
    @extend %mini-title;
  }
  .chartsTypeContainer {
    flex-grow: 1;
    .imageContainer {
      @include selectionContainer(170px, $indentMin, 50px, 1.2rem, 1.3rem);
      @include flex(null, null, center);
      &:not(:last-child) {
        margin: 0 0 $indentMax 0;
      }
      .typeName {
        flex-grow: 1;
      }
    }
    .activeContainer {
      box-shadow: 0 0 10px 0 $green;
      outline: 1px solid $green;
      .typeName {
        color: $green;
      }
      &:hover {
        cursor: default;
        box-shadow: 0 0 10px 0 $green;
        outline: 1px solid $green;
        .typeName {
          color: $green;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .chartSelectionForm {
    width: 100%;
    margin-right: 0;
    .chartsTypeContainer {
      display: flex;
      justify-content: space-between;
      .imageContainer {
        width: 16%;
        height: 4.5vw;
        .typeName {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chartSelectionForm {
    .chartsTypeContainer {
      flex-wrap: wrap;
      justify-content: left;
      .imageContainer {
        width: 32%;
        height: 6vw;
        margin-right: 2%;
        &:nth-child(3) {
          margin-right: 0;
        }
        &:nth-child(6) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .chartSelectionForm {
    .chartsTypeContainer {
      .imageContainer {
        width: 48%;
        height: 7vw;
        &:nth-child(even) {
          margin-right: 0;
        }
        &:nth-child(3) {
          margin-right: 2%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .chartSelectionForm {
    .chartsTypeContainer {
      .imageContainer {
        height: 7.5vw;
      }
    }
  }
}
