.chartSelectionForm {
  @include flex(column, null, null);

  .miniTitle {
    @extend %mini-title;
  }

  .chartsTypeContainer {
    flex-grow: 1;

    .imageContainer {
      @include selectionContainer(170px, $indent-min, 50px, $inter-18, $inter-20);
      @include flex(null, null, center);

      &:not(:last-child) {
        margin: 0 0 $indent-max 0;
      }

      .typeName {
        flex-grow: 1;
      }
    }

    .activeContainer {
      box-shadow: 0 0 10px 0 $green;
      outline: 1px solid $green;

      .typeName {
        color: $green;
      }

      &:hover {
        cursor: default;
        box-shadow: 0 0 10px 0 $green;
        outline: 1px solid $green;

        .typeName {
          color: $green;
          font-size: $inter-18;
        }
      }
    }
  }

  @include respond($tablet-max) {
    margin: 0 0 $indent-min 0;
    .chartsTypeContainer {
      .imageContainer {
        @include position(250px, $indent-min);

        &:not(:last-child) {
          margin: $indent-min;
        }

        img {
          width: 70px;
        }

        .typeName {
          font-size: $inter-24;
        }

        &:hover {
          .typeName {
            font-size: $inter-26;
          }
        }
      }

      .activeContainer:hover {
        .typeName {
          font-size: $inter-24;
        }
      }
    }
  }
  @include respond($tablet-min) {
    .chartsTypeContainer {
      .imageContainer {
        width: 300px;

        img {
          width: 50px;
        }
      }
    }
  }
  @include respond($mobile) {
    margin: 0 0 $indent-min 0;
    .chartsTypeContainer {
      .imageContainer {
        @include position(100%, $indent-input-button);

        &:not(:last-child) {
          margin: $indent-input-button;
        }

        &:first-child {
          margin: 0 $indent-input-button $indent-input-button;
        }

        &:last-child {
          margin: $indent-input-button $indent-input-button 0;
        }

        img {
          width: 30px;
        }
      }
    }
  }
}
