.currencyForm {
  .miniTitle {
    @extend %mini-title;
  }

  .hintText {
    text-align: center;
    margin: 0 0 $indent-min 0;
    font-size: $inter-14;
  }

  .textError {
    color: $red;
  }

  .container {
    margin: 0 0 $indent-input-button 0;

    .formContainer {
      @include flex(null, space-between, center);

      .label {
        font-weight: 700;
        font-size: $inter-14;
      }

      .formField {
        @include position(70%, 0 $indent-min 0 0);

        .inputData {
          @include input($input-background, 0);
          width: 100%;
          color: $title-text;

          &:disabled {
            color: $content-text;
          }
        }
      }
    }

    .description {
      font-size: $inter-10;
      text-align: right;
    }
  }

  @include respond($tablet-max) {
    .container {
      .formContainer {
        .formField {
          margin: 0;
        }
      }
    }
  }
  @include respond($tablet-min) {
    width: 45%;
    .hintText {
      margin: 0 0 $indent-input-button 0;
    }
    .container {
      .formContainer {
        .formField {
          width: 70%;

          .inputData {
            width: 100%;
          }
        }
      }
    }
  }
  @include respond($tablet-min) {
    width: 49%;
  }
}
