@use "src/global-styles" as global;

.navigation {
  display: flex;
    .link {
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      transition: all .3s linear;
    }
  .link:not(:last-child) {
    margin-right: .6rem;
  }
  .link:hover {
    cursor: pointer;
    color: global.$green;
    font-size: 1.3rem;
  }
}