.deleteColumnContainer {
  @include flex(column, null, null);
  position: relative;
  margin: 0 $indent-input-button 0 0;

  .axis {
    text-align: center;
  }

  .closeY {
    @extend %closeButton;
    right: 15px;
    @include respond($laptop) {
      top: 0;
    }
  }

  .closeYHover {
    @extend %closeButtonHover;
  }

  .inputData {
    @include input($input-background, $indent-min);
  }

  .inputDataNumbers {
    @include input($validated-input-background, $indent-input-button);
    outline: 1px solid $content-text;
  }
}
