.deleteColumnContainer {
  @include flex(column, null, null);
  position: relative;
  margin: 0 $indentInputAndButton 0 0;
  .axis {
    text-align: center;
  }
  .closeY {
    @extend %closeButton;
    background-image: url('../../../../../../assets/images/cross.svg');
    right: 10px;
    top: 5px;
  }
  .inputData {
    @include input($input-background, $indentMin);
  }
  .inputDataNumbers {
    @include input($validated-input-background, $indentInputAndButton);
    outline: 1px solid $content-text;
  }
}
