.wrapper {
  @include flex(column, center, null);
  flex-grow: 1;
  .imageContainer {
    padding: $indentMin;
    border-radius: $radiusMax;
    box-shadow: 0 0 10px 0;
    .image {
      width: 750px;
      height: 450px;
    }
  }
}
