.wrapper {
  @include flex(column, center, null);
  flex-grow: 1;

  .imageContainer {
    padding: $indentMin;
    border-radius: $radiusMax;
    box-shadow: 0 0 10px 0;

    .image {
      width: 750px;
      height: 450px;
      @include respond($laptop) {
        width: 700px;
        height: 420px;
      }
      @include respond($tabletMin) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
