.weather {
  margin: 0 0 $indent-max 0;

  .miniTitle {
    @extend %mini-title;
  }

  .hintText {
    text-align: center;
    margin: 0 0 $indent-min 0;
    font-size: $inter-14;
  }

  .textError {
    color: $red;
  }

  .container {
    margin: 0 0 $indent-input-button 0;

    .formContainer {
      @include flex(null, space-between, center);
      margin: 0 $indent-min 0 0;

      .label {
        font-weight: 700;
        font-size: $inter-14;
      }

      .input {
        @include input($input-background, 0);
        width: 70%;
        color: $title-text;
      }

      .inputError {
        outline: 1px solid $red;
      }
    }

    .description {
      font-size: $inter-10;
      text-align: right;
    }
  }

  .weatherText {
    font-size: $inter-14;

    &:not(:last-child) {
      margin: 0 0 $indent-input-button 0;
    }
  }

  @include respond($tablet-max) {
    .container {
      .formContainer {
        margin: 0;
      }
    }
  }
  @include respond($tablet-min) {
    @include position(45%, 0);
    .hintText {
      margin: 0 0 $indent-input-button 0;
    }
    .container {
      .formContainer {
        .input {
          width: 70%;
        }
      }
    }
  }
  @include respond($tablet-min) {
    width: 49%;
  }
}
