.infoPage {
  @include position(95%, 0 auto);

  .infoPageHeader {
    text-align: center;
    padding: $indentMax;
    margin: 0 0 $indentMax 0;

    .imageContainer {
      @include position(10%, 0 auto);
      position: relative;

      .infoImage {
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
      }

      .doughnutImage {
        width: 100%;
      }
    }

    .pageTitle {
      @extend %title-pages;
    }

    .text {
      font-size: 1.3rem;

      .link {
        display: inline;
        color: $green;
        border-bottom: 1px solid $green;

        &:hover {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
      }
    }

    @include respond($tabletMax) {
      padding: $indentMin;
      margin: 0 0 $indentMin 0;
    }
    @include respond($tabletMin) {
      padding: $indentInputAndButton;
      .imageContainer {
        width: 15%;
      }
    }
    @include respond($mobile) {
      padding: 0;
      margin: 0 0 $indentInputAndButton 0;
      .imageContainer {
        width: 20%;
      }
    }
  }
}
