.header {
  box-shadow: 0 -5px 10px 0;

  .headerInner {
    @include position(90%, 0 auto);
    @include flex(null, null, center);
    padding: $indent-min 0;

    @include respond($tablet-min) {
      flex-direction: column;
    }
  }
}
