.header {
  box-shadow: 0 -5px 10px 0;

  .headerInner {
    @include position(90%, 0 auto);
    @include flex(null, null, center);
    padding: $indentMin 0;

    @include respond($tabletMin) {
      flex-direction: column;
    }
  }
}
