.wrapper {
  min-height: 100%;
  @include flex(column, null, null);

  .main {
    margin: $indent-max 0;
    @include flex(null, center, center);
    flex: 1 1 auto;
    @include respond($mobile) {
      margin: $indent-min 0;
    }
  }
}

.wrapper-light {
  background: $white;
}

.wrapper-dark {
  background: $black;
}
