@use "src/global-styles" as global;

.gallery {
  padding: 1.5rem 0;
  width: 95%;
  margin: 0 auto;
  .title {
    @extend %title-pages;
  }
  .textContent {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
  .typeChartsContainer {
    display: flex;
    justify-content: space-between;
    .imageContainer {
      width: 15%;
      box-shadow: 0 0 10px 0;
      border-radius: 10px;
      padding: 1.5rem;
      transition: all .25s linear;
      img {
        width: 100%;
        padding-bottom: 1rem;
      }
      .typeName {
        color: black;
        font-size: 1.5rem;
        line-height: 1.6rem;
        text-decoration: none;
        transition: all .25s linear;
      }
      &:hover {
        cursor: pointer;
        border: 1px solid global.$blue;
        box-shadow: 0 0 10px 0 global.$blue;
      }
      &:hover .typeName {
        color: global.$blue;
        font-size: 1.6rem;;
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      justify-content: left;
      .imageContainer {
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 2vw;
        &:nth-child(4) {
          margin-right: 0;
        }
        &:nth-child(6) {
          margin-right: 0;
        }
        &:nth-child(5) {
          margin-bottom: 0;
        }
        &:nth-child(6) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      justify-content: space-between;
      .imageContainer {
        width: 30%;
        margin-right: 0;
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .gallery {
    .typeChartsContainer {
      flex-wrap: wrap;
      .imageContainer {
        width: 45%;
        &:nth-child(4) {
          margin-bottom: 2vw;
        }
      }
    }
  }
}

