.create {
  padding: 1.5rem 0;
  width: 95%;
  margin: 0 auto;
  .createContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .optionsChartContainer {
    max-width: 100%;
    .miniTitle {
      @extend %mini-title;
    }
  }
}
