.create {
  @include position(95%, 0 auto);

  .createContent {
    @include flex(null, center, null);
    flex-wrap: wrap;

    .chartSelectionMenu {
      @include flex(column, center, null);
      @include respond($tablet-max) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .settingsContainer {
      @include flex(column, null, null);
      max-width: 100%;

      .settingsTitle {
        @extend %mini-title;
      }

      .wrapper {
        @include flex(column, center, null);
        flex-grow: 1;

        .settingsFormContainer {
          padding: $indent-min $indent-min $indent-min $indent-max;
          border-radius: $radius-max;
          box-shadow: 0 0 10px 0;

          .settingsFormTitle {
            font-size: $inter-14;
            padding: 0 0 $indent-input-button 0;
            margin: 0 0 $indent-input-button 0;
            border-bottom: 1px solid;
          }
        }

        .basicFormContainer {
          margin: 0 0 $indent-max 0;
          overflow: auto;
        }

        .additionalFormContainer {
          width: 385px;
        }
      }

      @include respond($laptop) {
        margin: $indent-max 0 0 0;
        .wrapper {
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;

          .basicFormContainer {
            margin: 0 0 $indent-max $indent-max;
          }

          .additionalFormContainer {
            margin: 0 0 0 $indent-max;
          }
        }
      }
      @include respond($tablet-min) {
        .wrapper {
          .basicFormContainer {
            margin: 0 0 $indent-max 0;
          }

          .additionalFormContainer {
            margin: 0;
          }
        }
      }
      @include respond($mobile) {
        margin: $indent-min 0 0 0;
        .wrapper {
          .basicFormContainer {
            margin: 0 0 $indent-min 0;
          }

          .additionalFormContainer {
            width: 100%;
          }
        }
      }
    }
  }
}
