.formContainer {
  @include flex(null, space-between, null);

  .label {
    color: $title-text;
    font-size: $inter-14;
  }

  .inputData {
    @include input($validated-input-background, $indent-input-button);
    outline: 1px solid $content-text;
  }
}

.button {
  @extend %button;
  width: 100%;
  margin-bottom: 0;

  &:disabled {
    cursor: default;
    background: $red;
  }
}
