.formContainer {
  @include flex(null, space-between, null);

  .label {
    color: $title-text-light;
    font-size: $inter-14;
  }

  .label-light {
    color: $title-text-light;
  }

  .label-dark {
    color: $title-text-dark;
  }

  .inputData {
    outline: 1px solid $content-text;
  }

  .inputData-light {
    @include input($validated-input-background-light, $indent-input-button);
  }

  .inputData-dark {
    @include input($validated-input-background-dark, $indent-input-button);
  }
}

.button {
  @extend %button;
  width: 100%;
  margin-bottom: 0;

  &:disabled {
    cursor: default;
    background: $red;
  }
}

.illuminatedButton {
  background: $yellow;
}
