.chartResult {
  @include flex(column, null, null);
  margin: 0 $indentMax;

  .miniTitle {
    @extend %mini-title;
  }

  .wrapper {
    @extend %chartContainer;
  }

  @include respond($tabletMax) {
    margin: 0;
  }
  @include respond($tabletMin) {
    width: 100%;
  }
}
