.chartResult {
  @include flex(column, null, null);
  margin: 0 $indent-max;

  .miniTitle {
    @extend %mini-title;
  }

  .wrapper {
    @extend %chartContainer;
  }

  @include respond($tablet-max) {
    margin: 0;
  }
  @include respond($tablet-min) {
    width: 100%;
  }
}
