@use "src/global-styles" as global;

.create {
  padding: 1.5rem 0;
  width: 90%;
  margin: 0 auto;
  .title {
   @extend %title-pages;
  }
  .createContent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .optionsChartContainer {
    .miniTitle {
      @extend %mini-title;
    }
    .optionsChartInner {
    }
  }
}