.infoBlock {
  @include flex(column, null, center);
  width: 20%;

  .image {
    width: 55px;
    margin: 0 0 $indentMin 0;
  }

  .infoText {
    font-size: 1.1rem;
  }

  @include respond($mobile) {
    width: 30%;
    .image {
      margin: 0 0 $indentInputAndButton 0;
    }
  }
}
