.infoBlock {
  @include flex(column, null, center);
  width: 20%;

  .image {
    width: 55px;
    margin: 0 0 $indent-min 0;
  }

  .infoText {
    font-size: $inter-18;
  }

  @include respond($mobile) {
    width: 30%;
    .image {
      margin: 0 0 $indent-input-button 0;
    }
  }
}
