@use "src/global-styles" as global;

.chartSettings   {
  text-align: left;
  box-shadow: 0 0 10px 0;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: .8rem;
  .miniTitle {
    font-size: 1rem;
    padding: .5rem;
    border-bottom: 1px solid;
    margin-bottom: .5rem;
  }
  .dataTable {
    display: flex;
    position: relative;
  }
  .settingsForm {
    display: flex;
  }
}

.flex {
  display: flex;
}
  .close {
    width: 10px;
    height: 10px;
    left: 100%;
    background-image: url('../../images/cross.svg');
    transition: width .1s, height .1s, margin .1s;
    margin-right: 20px;
    position: absolute;
    &:hover {
      width: 15px;
      height: 15px;
    }
  }

  .axis {
    text-align: center;
  }


.iclass {
  position: relative;
}

  .closeY {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 10px;
    height: 10px;
    content: '';
    background-image: url('../../images/cross.svg');
    transition: width .1s, height .1s, margin .1s;
    &:hover{
      width: 15px;
      height: 15px;
    }
  }

  .inputData {
    display: block;
    color: black;
    margin: .1rem;
    border: none;
    padding: .3rem;
    border-radius: 5px;
  }
  .inputDataLabel {
    background-color: #ccc;
  }
  .inputDataNumbers {
    background-color: #f5f5f5;
  }

  .addButton {

    box-shadow: 0 0 10px 0;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: .8rem;
  }







