.formContainer {
  @include flex(space-between, null);
  .label {
    display: block;
    color: $black;
    font-size: 0.9rem;
  }
  .inputData {
    @include input(rgba(204, 204, 204, 0.3), 0.1rem);
    outline: 1px solid black;
  }
}
.submitButton {
  @extend %button;
  text-align: center;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: default;
    background: $red;
  }
}
