.chartResult {
  margin: 0 0 0 $indent-max;

  .miniTitle {
    @extend %mini-title;
  }

  .miniTitle-light {
    color: $title-text-light;
  }

  .miniTitle-dark {
    color: $title-text-dark;
  }

  @include respond($tablet-max) {
    margin: 0;
  }
}
