*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  color: $content-text;
}

#root {
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include respond($laptop) {
    font-size: 14px;
  }
  @include respond($tabletMax) {
    font-size: 13px;
  }
  @include respond($tabletMin) {
    font-size: 12px;
  }
  @include respond($mobile) {
    font-size: 11px;
  }
}

input,
textarea,
button,
img,
a {
  display: block;
}
