@use "src/global-styles" as global;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: global.$main-text;
}

body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

@media (max-width: 1024px) {
  html, body {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  html, body {
    font-size: 12px;
  }
}


