.errorPopup {
  @include flex(null, center, center);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $transparent-light-gray-3;

  .errorPopupContainer {
    width: 50%;
    padding: $indent-min;
    background: $input-background;
    border-radius: $radius-max;
    box-shadow: 0 0 10px 0;
    @include flex(column, null, null);

    .errorPopupButton {
      @extend %button;
      @include position(90%, $indent-min auto 0);
    }

    @include respond($tablet-max) {
      width: 70%;
    }
    @include respond($tablet-min) {
      width: 90%;
      padding: $indent-input-button;
      .errorPopupButton {
        margin: $indent-input-button auto 0;
      }
    }
  }
}
