.mainInfo {
  width: 75%;
  padding: $indent-max;
  text-align: center;

  .info {
    @include flex(null, space-around, center);
    margin: $indent-max 0 0 0;
  }

  @include respond($tablet-min) {
    width: 100%;
    padding: $indent-min;
  }
  @include respond($mobile) {
    padding: $indent-input-button;
    .info {
      justify-content: space-between;
      margin: $indent-min 0 0 0;
    }
  }
}
